<div id="animation">
    <div class="animation_circle"></div>
    <div class="animation_circle"></div>
    <div class="animation_circle"></div>
    <div class="animation_circle"></div>
    <div class="animation_circle"></div>
    <div class="animation_circle"></div>
    <div class="animation_circle"></div>
    <div class="animation_circle"></div>
    <div class="animation_circle"></div>
    <div class="animation_circle"></div>
    <div class="animation_circle"></div>
    <div class="animation_circle"></div>
    <div class="animation_circle"></div>
    <div class="animation_circle"></div>
    <div class="animation_circle"></div>
    <div class="animation_circle"></div>
    <div class="animation_circle"></div>
    <div class="animation_circle"></div>
    <div class="animation_circle"></div>
    <div class="animation_circle"></div>
    <div class="animation_circle"></div>
    <div class="animation_circle"></div>
    <div class="animation_circle"></div>
    <div class="animation_circle"></div>
    <div class="animation_circle"></div>
    <div class="animation_circle"></div>
    <div class="animation_circle"></div>
    <div class="animation_circle"></div>
    <div class="animation_circle"></div>
    <div class="animation_circle"></div>
    <div class="animation_circle"></div>
    <div class="animation_circle"></div>
    <div class="animation_circle"></div>
    <div class="animation_circle"></div>
    <div class="animation_circle"></div>
    <div class="animation_circle"></div>
    <div class="animation_circle"></div>
    <div class="animation_circle"></div>
    <div class="animation_circle"></div>
    <div class="animation_circle"></div>
    <div class="animation_circle"></div>
    <div class="animation_circle"></div>
    <div class="animation_circle"></div>
    <div class="animation_circle"></div>
    <div class="animation_circle"></div>
    <div class="animation_circle"></div>
    <div class="animation_circle"></div>
    <div class="animation_circle"></div>
    <div class="animation_circle"></div>
    <div class="animation_circle"></div>
    <div class="animation_circle"></div>
</div>